profile = janestreet
margin = 80
sequence-blank-line=preserve-one
exp-grouping=preserve
if-then-else=fit-or-vertical
break-before-in=auto
indicate-multiline-delimiters=closing-on-separate-line
#let-binding-spacing=sparse
